<!DOCTYPE html>
<html>
<head>
  <title>GTask</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div>
<table>
  <tr>
    <td>
    <h1>Rack OpenID with PAPE (Demo) </h1>
    </td>
  </tr>
  <tr>
    <td>
      <%  if signed_in? %>
    welcome back <b><%= session["user"].user.firstname + " " + session["user"].user.lastname %></b>
    <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= yield %>
    </td>
  </tr>
  <tr>
    <td>
      
    </td>
  </tr>
  </table>
</div>
</body>
</html>
